/* AUTH VIEWS */
.auth-container {
  max-width: 400px;
  margin: 4rem auto;
  background-color: var(--bg-card);
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid var(--border);
  text-align: center;
}
.auth-title {
  font-family: var(--font-head);
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--primary);
}
.form-group {
  margin-bottom: 1rem;
  text-align: left;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--text-muted);
}
.auth-footer {
  margin-top: 1rem;
  font-size: 0.9rem;
}
.auth-footer a {
  color: var(--primary);
  cursor: pointer;
  text-decoration: underline;
}
